<div class="container d-flex align-items-center" style="height: 100vh;">
  <div class="w-50 mx-auto">
  <form class="" action="/user/insert" method="post">
    <div class="form-group">
      <label class="" for="formUserName">Email</label>
      <input class="form-control" type="email" id="email" name="email">
    </div>
    <div class="form-group">
      <label class="form-labels" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group">
      <button type="submit" name="button" class="btn btn-primary header-link">ENVIAR</button>
    </div>
  </form>
  </div>
</div>
