<div class="container d-flex align-items-center" style="height: 100vh;">
  <div class="w-50 mx-auto">
  <form class="" action="/user/insert" method="post">
    <div class="form-group">
      <label class="" for="formUserName">Email</label>
      <input class="form-control" type="email" id="email" name="email">
    </div>
    <div class="form-group">
      <label class="form-labels" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group">
      <!--
      <button type="submit" onclick="createUser()" id="button" name="button" class="btn btn-primary header-link">ENVIAR</button>
       -->
       <button type="button" id="mybutton" name="mybutton" class="btn btn-primary">ENVIAR</button>
    </div>
  </form>
  </div>
</div>

<script>
  document.getElementById('mybutton').addEventListener('click', loadsend);

  function loadsend() {
    var email = document.getElementById('email').value;
    console.log(email);


    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 201) {
        console.log('User deleted');
      }
    };
    xhttp.open('POST', '/user/ajaxread/' + email, true);
    xhttp.send();
  };
</script>
